html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 60px;
  background-color: #f4f4f4;
}

.st {
  margin: 10px 0;
}

.heading {
  color: #343a40;
  margin-top: 15px;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}

.form-group {
  margin-bottom: 1rem;
}

.btn {
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.error {
  color: #ff6666;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #343a40;
  color: white;
  text-align: center;
  padding-top: 10px;
}

/* Responsive styles */
@media (max-width: 576px) {
  h2 {
    font-size: 1.5rem;
  }
}
